In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics
import seaborn as sns
from pandas.plotting import lag_plot

In [2]:
dataset =pd.read_csv('ALLHDPD.csv')
print(dataset.columns)

Index(['date', 'H_pm25', 'H_pm10', 'H_o3', 'H_no2', 'H_so2', 'H_co', 'D_pm25',
       'D_pm10', 'D_o3', 'D_no2', 'D_so2', 'D_co', 'P_pm25', 'P_pm10', 'P_o3',
       'P_no2', 'P_so2', 'P_co'],
      dtype='object')

In [3]:
[521.79 828dataset['date']= pd.to_datetime(dataset['date'])
dataset = dataset.set_index('date')

In [4]:
dataset['H_co'] = pd.to_numeric(dataset['H_co'],errors='coerce')
dataset['H_pm25'] = pd.to_numeric(dataset['H_pm25'], errors='coerce')
dataset['H_pm10'] = pd.to_numeric(dataset['H_pm10'], errors='coerce')
dataset['H_o3'] = pd.to_numeric(dataset['H_o3'], errors='coerce')
dataset['H_no2'] = pd.to_numeric(dataset['H_no2'], errors='coerce')
dataset['H_so2'] = pd.to_numeric(dataset['H_so2'], errors='coerce')

In [5]:

dataset =dataset.bfill()
print(dataset.info())
print(dataset)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 364 entries, 2016-09-01 to 2019-11-30
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   H_pm25  364 non-null    int64
 1   H_pm10  273 non-null    float64
 2   H_o3    364 non-null    float64
 3   H_no2   364 non-null    float64
 4   H_so2   364 non-null    float64
 5   H_co    364 non-null    float64
 6   D_pm25  364 non-null    int64
 7   D_pm10  364 non-null    int64
 8   D_o3    364 non-null    int64
 9   D_no2   364 non-null    int64
 10  D_so2   364 non-null    int64
 11  D_co    364 non-null    int64
 12  P_pm25  364 non-null    int64
 13  P_pm10  364 non-null    int64
 14  P_o3    364 non-null    int64
 15  P_no2   364 non-null    int64
 16  P_so2   364 non-null    int64
 17  P_co    354 non-null    float64
dtypes: float64(6), int64(12)
memory usage: 54.0 KB
None
            H_pm25  H_pm10  H_o3  H_no2  H_so2  H_co  D_pm25  D_pm10  D_o3  \
date
2016-09-01      85    42.0   9.0    6.0    3.0   4.0      76      69     7
2016-09-02     120    42.0   9.0    7.0    3.0   5.0     119      78    12
2016-09-03     142    42.0   8.0    5.0    2.0   6.0     124      84     7
2016-09-04     133    42.0   9.0    5.0    2.0   7.0     126      82    11
2016-09-05     137    42.0  14.0    6.0    4.0   5.0     123      91     7
...            ...     ...   ...    ...    ...   ...     ...     ...   ...
2019-11-26     177     NaN  41.0    7.0   19.0  11.0     169     125    61
2019-11-27     136     NaN  19.0    7.0   10.0   9.0     131      91    16
2019-11-28      90     NaN  28.0    7.0   15.0  12.0      79      49    16
2019-11-29     133     NaN  30.0    7.0   12.0  14.0     114      72    17
2019-11-30     168     NaN  43.0    7.0   10.0  14.0     165      99    15

            D_no2  D_so2  D_co  P_pm25  P_pm10  P_o3  P_no2  P_so2  P_co
date
2016-09-01     18      5     8      68      42     7      5      3   6.0
2016-09-02     17      4     7      68      42     7      5      3   6.0
2016-09-03     14      5     5      68      42     7      5      3   6.0
2016-09-04     12      4     5      68      42     7      5      3   6.0
2016-09-05     14      5     5      68      42     7      5      3   6.0
...           ...    ...   ...     ...     ...   ...    ...    ...   ...
2019-11-26     22      5    11     137      55     8     26      3   NaN
2019-11-27     22      6     7      98      44     7     23      2   NaN
2019-11-28      8      5     3      98      44     6     21      2   NaN
2019-11-29     17      7     8      83      40    10     17      1   NaN
2019-11-30     17      5     8      83      58     6     16      2   NaN

[364 rows x 18 columns]

In [6]:
dataset.isnull().sum()

H_pm25     0
H_pm10    91
H_o3       0
H_no2      0
H_so2      0
H_co       0
D_pm25     0
D_pm10     0
D_o3       0
D_no2      0
D_so2      0
D_co       0
P_pm25     0
P_pm10     0
P_o3       0
P_no2      0
P_so2      0
P_co      10
dtype: int64

In [7]:
dataset.describe()

,H_pm25,H_pm10,H_o3,H_no2,H_so2,H_co,D_pm25,D_pm10,D_o3,D_no2,D_so2,D_co,P_pm25,P_pm10,P_o3,P_no2,P_so2,P_co
count,364.000000,273.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,354.000000
mean,177.980769,50.124542,21.719780,8.302198,5.969780,12.469780,234.211538,198.384615,33.695055,32.920330,10.239011,18.324176,94.964286,58.997253,8.947802,7.456044,3.711538,12.672316
std,91.952690,20.091680,17.939554,4.704127,5.825438,7.747152,107.848668,138.503415,18.086199,17.330739,6.800220,11.691836,39.384750,30.936663,4.381909,4.601562,4.769829,60.126495
min,22.000000,16.000000,1.000000,1.000000,1.000000,1.000000,74.000000,30.000000,2.000000,3.000000,1.000000,1.000000,32.000000,16.000000,1.000000,1.000000,1.000000,1.000000
25%,119.750000,42.000000,9.000000,5.000000,3.000000,7.000000,166.000000,99.000000,19.000000,18.000000,5.000000,10.000000,68.000000,42.000000,7.000000,5.000000,3.000000,3.000000
50%,159.500000,42.000000,17.000000,7.000000,5.000000,10.000000,200.000000,157.000000,32.000000,31.000000,9.000000,15.000000,68.000000,42.000000,7.000000,5.000000,3.000000,6.000000
75%,214.500000,42.000000,25.000000,10.000000,7.000000,16.000000,276.000000,263.250000,44.250000,46.000000,15.000000,24.250000,124.250000,70.000000,10.000000,9.000000,3.000000,6.000000
max,464.000000,199.000000,92.000000,31.000000,78.000000,52.000000,618.000000,825.000000,98.000000,90.000000,36.000000,72.000000,275.000000,272.000000,27.000000,29.000000,78.000000,500.000000

In [8]:
dataset.columns

Index(['H_pm25', 'H_pm10', 'H_o3', 'H_no2', 'H_so2', 'H_co', 'D_pm25',
       'D_pm10', 'D_o3', 'D_no2', 'D_so2', 'D_co', 'P_pm25', 'P_pm10', 'P_o3',
       'P_no2', 'P_so2', 'P_co'],
      dtype='object')

In [9]:
# X=dataset(['H_pm25','H_pm10','H_o3','H_no2','H_co','D_pm10','D_o3','D_no2','D_so2','D_co']).values
# y=dataset(['D_pm25']).values

In [10]:

X=dataset.iloc[:,[0,2,3,4,5]].values
y=dataset.iloc[:,6].values

In [11]:
X.shape

(364, 5)

In [12]:
y.shape

(364,)

In [13]:
corrMatrix = dataset.corr()

In [14]:
corrMatrix

,H_pm25,H_pm10,H_o3,H_no2,H_so2,H_co,D_pm25,D_pm10,D_o3,D_no2,D_so2,D_co,P_pm25,P_pm10,P_o3,P_no2,P_so2,P_co
H_pm25,1.000000,-0.189416,0.209298,0.497835,0.081708,0.648616,0.393188,0.696346,0.124296,0.521863,0.435004,0.548997,0.065814,0.099075,-0.196833,-0.098863,-0.142528,-0.051249
H_pm10,-0.189416,1.000000,-0.270271,-0.287476,-0.135481,-0.251858,0.160663,0.136298,-0.050650,0.058507,-0.441661,-0.018564,0.745779,1.000000,-0.006306,0.031777,-0.028662,0.501771
H_o3,0.209298,-0.270271,1.000000,0.041158,0.167545,0.413399,0.118711,0.064570,-0.023367,-0.149852,-0.123491,-0.048779,0.336466,0.342580,0.432401,0.557923,-0.106931,-0.136180
H_no2,0.497835,-0.287476,0.041158,1.000000,0.136147,0.449415,0.174394,0.542788,0.158093,0.550341,0.671777,0.434679,-0.334319,-0.265709,-0.219078,-0.152230,0.010280,-0.053676
H_so2,0.081708,-0.135481,0.167545,0.136147,1.000000,0.189726,0.004351,0.085270,-0.012847,0.035940,0.103173,0.099400,0.066887,0.066172,-0.116939,0.263192,0.728981,0.004935
H_co,0.648616,-0.251858,0.413399,0.449415,0.189726,1.000000,0.332225,0.546979,0.130433,0.391885,0.303662,0.501690,0.066280,0.114395,-0.038633,0.140876,-0.054546,-0.045022
D_pm25,0.393188,0.160663,0.118711,0.174394,0.004351,0.332225,1.000000,0.533069,0.029518,0.301872,0.034669,0.424096,0.177615,0.162191,0.078223,-0.002754,-0.050830,0.127688
D_pm10,0.696346,0.136298,0.064570,0.542788,0.085270,0.546979,0.533069,1.000000,0.174466,0.664093,0.414140,0.720937,0.090147,0.114931,-0.195638,-0.196968,-0.046406,0.166843
D_o3,0.124296,-0.050650,-0.023367,0.158093,-0.012847,0.130433,0.029518,0.174466,1.000000,0.343722,0.363588,0.296963,-0.140823,-0.200230,-0.098051,-0.184716,-0.027751,0.022037
D_no2,0.521863,0.058507,-0.149852,0.550341,0.035940,0.391885,0.301872,0.664093,0.343722,1.000000,0.522525,0.687663,-0.210839,-0.180101,-0.403692,-0.395278,-0.014209,0.099897
D_so2,0.435004,-0.441661,-0.123491,0.671777,0.103173,0.303662,0.034669,0.414140,0.363588,0.522525,1.000000,0.426727,-0.486090,-0.425222,-0.332123,-0.383284,0.011729,-0.100533
D_co,0.548997,-0.018564,-0.048779,0.434679,0.099400,0.501690,0.424096,0.720937,0.296963,0.687663,0.426727,1.000000,-0.140342,-0.107409,-0.254866,-0.283252,-0.016201,0.060793
P_pm25,0.065814,0.745779,0.336466,-0.334319,0.066887,0.066280,0.177615,0.090147,-0.140823,-0.210839,-0.486090,-0.140342,1.000000,0.769794,0.234495,0.471247,0.017879,0.133027
P_pm10,0.099075,1.000000,0.342580,-0.265709,0.066172,0.114395,0.162191,0.114931,-0.200230,-0.180101,-0.425222,-0.107409,0.769794,1.000000,0.188298,0.383304,0.002403,0.225977
P_o3,-0.196833,-0.006306,0.432401,-0.219078,-0.116939,-0.038633,0.078223,-0.195638,-0.098051,-0.403692,-0.332123,-0.254866,0.234495,0.188298,1.000000,0.408458,-0.112096,-0.116291
P_no2,-0.098863,0.031777,0.557923,-0.152230,0.263192,0.140876,-0.002754,-0.196968,-0.184716,-0.395278,-0.383284,-0.283252,0.471247,0.383304,0.408458,1.000000,0.080439,-0.061126
P_so2,-0.142528,-0.028662,-0.106931,0.010280,0.728981,-0.054546,-0.050830,-0.046406,-0.027751,-0.014209,0.011729,-0.016201,0.017879,0.002403,-0.112096,0.080439,1.000000,0.062038
P_co,-0.051249,0.501771,-0.136180,-0.053676,0.004935,-0.045022,0.127688,0.166843,0.022037,0.099897,-0.100533,0.060793,0.133027,0.225977,-0.116291,-0.061126,0.062038,1.000000

In [15]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=1)

In [16]:
from sklearn.ensemble import RandomForestRegressor

# regressor = RandomForestRegressor(n_estimators = 10000, random_state = 0)
# regressor.fit(X_train, y_train)
# y_pred = regressor.predict(X_test)

In [17]:

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression


reg1 = GradientBoostingRegressor(random_state=1, n_estimators=10)
reg2 = RandomForestRegressor(random_state=1, n_estimators=10)
# reg3 = Lasso(alpha=1.0)
# reg4 = LinearRegression() 
reg5=KNeighborsRegressor(n_neighbors=2)
ereg = VotingRegressor(estimators=[ ('rf', reg2),('kr',reg5)])
ereg = ereg.fit(X, y)

y_pred = ereg.predict(X_test)

In [18]:
from sklearn.metrics import r2_score
from sklearn.metrics import explained_variance_score
from sklearn.metrics import max_error



print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 29.207579908675804
Mean Squared Error: 2217.0344040334858
Root Mean Squared Error: 47.08539480596383
r ^2  0.841536982234278
explained_variance_score 0.841783542099136
max_error 142.45

In [ ]:
#on new dataset

In [19]:
# data = pd.read_csv('pm_2.5_dataset(WAZIRPUR).csv')
# data
data = pd.read_csv('pm_2.5_dataset(WAZIRPUR).csv',index_col='date',parse_dates=True)

In [20]:
data.columns

Index(['panipat pm 2.5', 'sirsa pm 2.5', 'Bhiwanipm 2.5', 'rohtak pm 2.5',
       'patiala pm 2.5', 'ludhiana pm 2.5', 'kaithal pm 2.5', 'karnal pm 2.5',
       'delhi_wazirpm2.5'],
      dtype='object')

In [21]:
data = data.bfill()

In [22]:
data.isnull().sum()
data.head()

,panipat pm 2.5,sirsa pm 2.5,Bhiwanipm 2.5,rohtak pm 2.5,patiala pm 2.5,ludhiana pm 2.5,kaithal pm 2.5,karnal pm 2.5,delhi_wazirpm2.5
date,,,,,,,,,
2019-10-01,108,112,104,67,108,79,99,133.0,120.0
2019-10-02,128,155,115,106,80,120,87,133.0,113.0
2019-10-03,158,149,150,118,119,105,109,167.0,154.0
2019-10-04,119,82,110,84,59,64,64,167.0,133.0
2019-10-05,145,138,122,81,66,84,62,135.0,119.0

In [23]:
X=data.iloc[:,[0,1,2,3,4,5,6,7]].values
y=data.iloc[:,8].values

In [24]:
X.shape

(198, 8)

In [25]:
y.shape

(198,)

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=1)

In [27]:
reg1 = GradientBoostingRegressor(random_state=1, n_estimators=10)
reg2 = RandomForestRegressor(random_state=1, n_estimators=10)

# reg3 = Lasso(alpha=1.0)
reg4 = LinearRegression() 
reg5=KNeighborsRegressor(n_neighbors=2)
ereg = VotingRegressor(estimators=[ ('rf', reg2),('kr',reg5)])
ereg = ereg.fit(X, y)

y_pred = ereg.predict(X_test)

In [2]:
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
print(df)

df1 = df.tail(198)
df1.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

NameError: name 'pd' is not defined

In [29]:

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 13.2375
Mean Squared Error: 360.53437500000007
Root Mean Squared Error: 18.987742756841847
r ^2  0.9703004032695067
explained_variance_score 0.972127854046784
max_error 47.94999999999999

In [ ]:
#using RandomForestRegressor

In [30]:
regressor = RandomForestRegressor(n_estimators = 10000, random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [31]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 20.446939999999998
Mean Squared Error: 785.8271438925001
Root Mean Squared Error: 28.03260858165897
r ^2  0.9352662300966932
explained_variance_score 0.9413253122447639
max_error 83.3517

In [ ]:
#using svr

In [32]:
from sklearn.svm import SVR
regressor = SVR(kernel='rbf')
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)

In [33]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 65.23929933492074
Mean Squared Error: 11223.584892919367
Root Mean Squared Error: 105.94142198837699
r ^2  0.0754392138331843
explained_variance_score 0.18298697687649923
max_error 330.5994413096423

In [34]:
#usinf PolynomialFeatures

In [35]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 2)
X_poly = poly_reg.fit_transform(X_train)
poly_reg.fit(X_poly, y_train)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_poly, y_train)
y_pred=lin_reg_2.predict(poly_reg.fit_transform(X_test))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 38.079923725128175
Mean Squared Error: 4036.5026245462104
Root Mean Squared Error: 63.53347640847469
r ^2  0.6674866296713036
explained_variance_score 0.6756501532306518
max_error 228.74432945251465

In [36]:
# using DecisionTreeRegressor

In [37]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 25.925
Mean Squared Error: 1098.425
Root Mean Squared Error: 33.14249537979903
r ^2  0.9095154809061077
explained_variance_score 0.9139354489738476
max_error 111.0

In [38]:
#using GradientBoostingRegressor

In [39]:
from sklearn.ensemble import GradientBoostingRegressor
est = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,max_depth=1, random_state=0, loss='ls').fit(X_train, y_train)
# mean_squared_error(y_test, est.predict(X_test))
y_pred = est.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 24.45356914800586
Mean Squared Error: 979.0504681668114
Root Mean Squared Error: 31.289782168733794
r ^2  0.9193491492084356
explained_variance_score 0.9218757180868689
max_error 90.88155172204853

In [40]:
#using Lasso

In [41]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=1.0)
lasso .fit(X_train, y_train)
y_pred =lasso.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 26.69778975152743
Mean Squared Error: 1356.7577817452507
Root Mean Squared Error: 36.83419310566271
r ^2  0.8882349041508385
explained_variance_score 0.8965271038492405
max_error 103.63648321727675

In [ ]:
#using KNeighborsRegressor

In [42]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=2)
neigh.fit(X_train, y_train)
y_pred =neigh.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('r ^2 ',r2_score(y_test, y_pred))
# print('score',ereg.score(y_test, y_pred))
print('explained_variance_score',explained_variance_score(y_test, y_pred))
print('max_error',max_error(y_test, y_pred))

Mean Absolute Error: 26.6625
Mean Squared Error: 1558.85625
Root Mean Squared Error: 39.48235365324616
r ^2  0.871586719058872
explained_variance_score 0.872384755262462
max_error 139.5