In [1]:
import pandas as pd

In [2]:
delhi1 = pd.read_csv('Delhi1.csv')

In [3]:
delhi2 = pd.read_csv('Delhi2.csv')

In [4]:
delhi3 = pd.read_csv('Delhi3.csv')

In [5]:
delhi4 = pd.read_csv('Delhi4.csv')

In [6]:
delhi5 = pd.read_csv('Delhi5.csv')

In [7]:
delhi6 = pd.read_csv('Delhi6.csv')

In [26]:
delhi1.shape

(19, 6)

In [17]:
delhi2.shape
delhi2.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

In [18]:
delhi3.shape
delhi3.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

In [20]:
delhi4.shape
delhi4.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

In [21]:
delhi5.shape
delhi5.isnull().sum()

date     0
 pm25    0
dtype: int64

In [25]:
delhi6.shape
delhi6.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

In [29]:
punjab1 = pd.read_csv('Punjab1.csv')

In [30]:
punjab2 = pd.read_csv('Punjab2.csv')

In [32]:
punjab3 =pd.read_csv('Punjab3.csv')

In [40]:
punjab4 =pd.read_csv('Punjab4.csv')

In [46]:
punjab1.shape
punjab1.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

In [37]:
punjab2.shape
# punjab2.isnull().sum()

(93, 7)

In [42]:
punjab3.shape
punjab2.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

In [43]:
punjab4.shape
punjab2.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64

In [47]:
haryana1 = pd.read_csv('haryana1.csv')

In [48]:
haryana2 = pd.read_csv('haryana2.csv')

In [49]:
haryana3 = pd.read_csv('haryana3.csv')

In [50]:
haryana4 = pd.read_csv('haryana4.csv')

In [51]:
haryana5 = pd.read_csv('haryana5.csv')

In [52]:
haryana6 = pd.read_csv('haryana6.csv')

In [53]:
haryana7 = pd.read_csv('haryana7.csv')

In [54]:
haryana8 = pd.read_csv('haryana8.csv')

In [55]:
haryana9 = pd.read_csv('haryana9.csv')

In [56]:
haryana10 = pd.read_csv('haryana10.csv')

In [57]:
haryana11 = pd.read_csv('haryana11.csv')

In [79]:
haryana11.shape

(93, 7)

In [80]:
haryana11.isnull().sum()

date     0
 pm25    0
 pm10    0
 o3      0
 no2     0
 so2     0
 co      0
dtype: int64